.return {
    position: relative;
}

.imageElement {    
    width: 100%; /* Increased the image size to match the larger card */
    height: auto;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    
}
.displayBox{
    position: relative;
    border-radius: 20px;
    left: 0;
}
